@import 'variables';

.card{
    padding: 30px;
    padding-left: 0;

    @include lg{
        padding: 0;
        margin-bottom: 2rem;
    }

    .wrapper{
        display: flex;
    
        @include lg{
            flex-direction: column;
        }
    }

    .name{
        text-align: left;
        font-size: 20px;
        white-space: nowrap;

        @include lg{
            text-align: center;
            margin-bottom: 2rem;
        }
    }

    .content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
        padding: 20px;
        padding-left: 0;


        
        .description{
            font-family: 'Manrope';
            font-weight: 300;
            font-size: 14px;

        }

        .price{
            font-family: 'Loved By The King';
            font-size: 20px;
            font-weight: 600;
        }

        @include lg{
            order: 2;
        }     
        
        .btn{
            background-color: $secondary-color;
            padding: 5px 10px;
            text-align: center;
            font-family: 'Lobster Two';
            color: #fff;
            font-size: 20px;
            border-radius: 50px;

            &:hover{
                background-color: lighten($secondary-color, 10%);
            }
        }
    }

    .image{

        display: flex;
        align-items: center;

        @include lg{
            justify-content: center;
        }

        IMG{
            width: 150px;
            height: 150px;
            object-fit: cover;
            
            border-radius: 50%;

            @include lg{
                order: 1;
            }
        }

    }
}

